<div class="navbar">
  <a href="/">home</a>
  <!-- style="padding-right: 0px" -->
  <a href="https://forum.raytek.cafe">forum
    <!--<sup style="font-size: 6pt">beta&nbsp</sup>-->
  </a>
  <a href="/projects">projects</a>
  <a href="/about">about</a>
  <a href="/contact">contact</a>
  <button id="theme-switcher">
    <img src="/assets/images/css/theme-switcher.png" alt="Toggle theme" />
  </button>
  <a href="/search" id="search-button">
    <img src="/assets/images/css/search.png" alt="Search"/>
  </a>
</div>